<template>
  <div class="book-list-bar">
    <span>Books: {{ bookCount }}</span>
    <button @click="handleLogout" class="orange" v-bind:disabled="isLoading">{{ getUsername }} 👋</button>
  </div>
</template>

<script>
import axios from "axios"
export default {
  name: "BookListBar",
  props: ["bookCount", "username"],
  data: () => ({
    isLoading: false
  }),
  methods: {
    handleLogout() {
      this.isLoading = true
      axios.post(`${process.env.VUE_APP_API_BASE_URL}/logout`, null, { withCredentials: true })
        .then(() => { localStorage.setItem("username", ""); this.$emit("log-out") })
        .catch(reason => console.log(reason))
        .finally(() => this.isLoading = false)
    }
  },
  computed: {
    getUsername() {
      return localStorage.getItem("username");
    }
  }
}
</script>

<style scoped>
.book-list-bar {
  background-color: #ffe4af;
  border-radius: .3em;
  padding: .5em .5em .5em 1em;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
</style>