<template>
  <section class="book-card">
    <article>
      <div class="name-wrapper">
        <h3 :title="book.title">{{ book.title }}</h3>
      </div>
      <div class="authors" :title="formattedAuthors">{{ formattedAuthors }}</div>
      <div class="img-wrapper">
        <img class="book-img" :src="book.thumbnailUrl" :alt="book.bookName">
      </div>
      <div class="buttons">
        <button v-if="!isInList"
                class="green"
                v-bind:disabled="!loggedIn">
          <Loader v-if="isLoading" />
          <span v-else>➕</span> ADD TO...</button>
        <button v-if="isInList"
                class="gray">IN THE LIST</button>
        <button class="blue" @click="descBtnClickHandler">📕</button>
        <div class="add-to-options" v-bind:class="{ disabled: optionsDisabled }">
          <div @click="optionsDisabled ? null : addToToRead()">✨ To read</div>
          <div @click="optionsDisabled ? null : addToReadingNow()">💬 Reading now</div>
          <div @click="optionsDisabled ? null : addToHaveRead()">✅ Have read</div>
        </div>
      </div>
    </article>
  </section>
</template>

<script>
import axios from "axios";
import Loader from "@/components/Loader";
export default {
  name: "BookCard",
  components: {Loader},
  props: ["book", "isInList"],
  data: () => ({
    isLoading: false
  }),
  methods: {
    descBtnClickHandler() {
      this.$emit("open-dialog", this.book);
    },
    addToToRead() {
      this.addToList("TO_READ");
    },
    addToReadingNow() {
      this.addToList("READING_NOW");
    },
    addToHaveRead() {
      this.addToList("HAVE_READ");
    },
    addToList(category) {
      this.isLoading = true;
      axios.post(`${process.env.VUE_APP_API_BASE_URL}/books/${this.book.gbid}`, null, { withCredentials: true, params: { category: category } })
        .then(() => {
          this.book.category = category;
          this.$emit("update-hash", this.book);
        })
        .catch(reason => console.log(reason))
        .finally(() => this.isLoading = false)
    }
  },
  computed: {
    formattedAuthors() {
      return this.book.authors ? this.book.authors.join(", ") : "Author not found";
    },
    loggedIn() {
      return (localStorage.getItem("username") || "") !== "";
    },
    optionsDisabled() {
      return !this.loggedIn || this.isLoading;
    }
  }
}
</script>

<style scoped>


article {
  text-align: center;
}

h3 {
  vertical-align: middle;
  text-align: center;
  margin: 0;
}

.name-wrapper {
  --line-count: 2;
  display: -webkit-box;
  -webkit-line-clamp: var(--line-count);
  -webkit-box-orient: vertical;
  height: calc(var(--line-count) * 1.5em);
  overflow: hidden;
}

.authors {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.book-card {
  padding: 1em;
  margin: .5em;
  border-radius: .3em;
  box-shadow: 0 0 .7em #d2d2d2;
  transition: .2s;
  overflow-x: hidden;
}

.book-card:hover {
  background-color: #f6f6f6;
}

.img-wrapper {
  margin: 2em 0;
  height: 200px;
}

.book-img {
  max-height: 100%;
}

.buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
}

button.green:not(:disabled):hover ~ .add-to-options, .add-to-options:hover {
  visibility: visible;
}

.add-to-options {
  visibility: hidden;
  background-color: #b4e3b4;
  border-radius: .3em;
  position: absolute;
  top: -7em;
  text-align: left;
  box-shadow: 0 0 .5em gray;
}

.add-to-options.disabled > div {
  opacity: .4;
}

.add-to-options.disabled > div:hover {
  cursor: not-allowed;
  background-color: #b4e3b4;
}

.add-to-options > div {
  padding: .5em;
  user-select: none;
}

.add-to-options > div:hover {
  cursor: pointer;
  background-color: #81d981;
  padding: .5em;
}

.loader {
  width: 1em;
  height: 1em;
  border-width: 2px;
  vertical-align: bottom;
}

</style>
