<template>
  <section class="book-list" v-bind:class="{ open: isOpen }">
    <nav v-bind:class="{ disabled: interactionDisabled }">
      <span class="nav-item"
            v-bind:class="{ selected: selectedTab === 'TO_READ' }"
            @click="interactionDisabled ? null : tabClickHandler('TO_READ')">✨<br>To read</span>
      <span class="nav-item"
            v-bind:class="{ selected: selectedTab === 'READING_NOW' }"
            @click="interactionDisabled ? null : tabClickHandler('READING_NOW')">💬<br>Reading now</span>
      <span class="nav-item"
            v-bind:class="{ selected: selectedTab === 'HAVE_READ' }"
            @click="interactionDisabled ? null : tabClickHandler('HAVE_READ')">✅<br>Have read</span>
    </nav>
    <section class="book-list-content">
      <BookListBar v-if="userLoggedIn"
                   :book-count="bookList.length"
                   v-on:log-out="() => { $emit('log-out') ; this.userLoggedIn = false }"/>
      <UserForm v-if="!userLoggedIn"
                v-on:logged-in="() => getList()" />
      <BookListItem v-else v-for="book in bookList"
                    :book="book"
                    :selected-tab="selectedTab"
                    v-bind:key="book.gbid"
                    v-on:open-dialog="bookData => $emit('open-dialog', bookData)"
                    v-on:move-book="() => getList()"
                    v-on:remove-book="bookData => removeFromList(bookData)"/>
      <span v-if="!isLoading && userLoggedIn && bookList.length === 0">There are no books in this category.</span>
      <Loader v-if="isLoading" />
    </section>
  </section>
</template>

<script>
import UserForm from "@/components/UserForm";
import Loader from "@/components/Loader";
import axios from "axios";
import BookListItem from "@/components/BookListItem";
import BookListBar from "@/components/BookListBar";
export default {
  name: "BookList",
  components: {BookListBar, BookListItem, Loader, UserForm},
  props: ["isOpen"],
  data: () => ({
    selectedTab: "TO_READ",
    isLoading: false,
    userLoggedIn: false,
    bookList: []
  }),
  methods: {
    tabClickHandler(tabName) {
      this.selectedTab = tabName;
      this.getList()
    },
    getList() {
      this.isLoading = true;
      axios.get(`${process.env.VUE_APP_API_BASE_URL}/books/`, { withCredentials: true })
        .then(value => {
          const newHash = {};
          this.bookList = [];
          for (let book of value.data.data) {
            if (book.category === this.selectedTab) {
              this.bookList.push(book);
            }
            newHash[book.gbid] = true;
          }
          this.$emit("update-hash", newHash);
          this.userLoggedIn = true
        })
        .catch(reason => {
          console.log(reason)
          if (reason.status === 401) {
            this.userLoggedIn = false;
          }
        })
        .finally(() => this.isLoading = false)
    },
    addToList(bookToAdd) {
      if (bookToAdd.category === this.selectedTab) {
        this.bookList.push(bookToAdd);
      }
    },
    removeFromList(bookToRemove) {
      this.$emit('remove-book', bookToRemove);
      this.getList();
    }
  },
  computed: {
    interactionDisabled() {
      return this.isLoading || !this.userLoggedIn;
    }
  },
  mounted() {
    if (localStorage.getItem("username")) {
      this.getList();
    }
  }
}
</script>

<style scoped>
section.book-list {
  background-color: #ffe9c9;
  flex-basis: 0;
  overflow-x: hidden;
  transition: .5s;
  box-shadow: -1px 0 5px lightgray;
}

section.book-list.open {
  flex-basis: 510px;
}

section.book-list-content {
  width: 475px;
  padding: 1em;
}

nav {
  white-space: nowrap;
}

nav.disabled .nav-item {
  opacity: .3;
  background-color: initial;
}

nav.disabled .nav-item:hover {
  cursor: not-allowed;
  user-select: none;
}

.nav-item {
  display: inline-block;
  width: 150px;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
  transition: .3s;
}

.nav-item.selected {
  background-color: #ffd796;
}

.nav-item:hover {
  cursor: pointer;
  background-color: #ffd796;
}

.loader {
  margin-top: 1em;
}
</style>
