<template>
  <section class="book-list-item">
    <img :src="imgUrl" :alt="imgUrl">
    <div class="book-list-item-info">
      <h4>{{ book.title }}</h4>
      <span>{{ formattedAuthors }}</span>
      <div class="buttons">
        <div class="move-buttons">
          Move:
          <button v-bind:disabled="isLoading" v-if="selectedTab !== 'TO_READ'" class="orange" @click="isLoading ? null : handleMove('TO_READ')">✨</button>
          <button v-bind:disabled="isLoading" v-if="selectedTab !== 'READING_NOW'" class="orange" @click="isLoading ? null : handleMove('READING_NOW')">💬</button>
          <button v-bind:disabled="isLoading" v-if="selectedTab !== 'HAVE_READ'" class="orange" @click="isLoading ? null : handleMove('HAVE_READ')">✅</button>
        </div>
        <div class="separator"></div>
        <button class="orange" @click="() => $emit('open-dialog', book)">📕</button>
        <div class="separator"></div>
        <button v-bind:disabled="isLoading" class="orange" @click="handleRemoval">❌</button>
      </div>
    </div>
  </section>
</template>

<script>
import axios from "axios";
export default {
  name: "BookListItem",
  props: ["book", "selectedTab"],
  data: () => ({
    isLoading: false
  }),
  methods: {
    handleMove(category) {
      this.isLoading = true;
      axios.patch(`${process.env.VUE_APP_API_BASE_URL}/books/${this.book.gbid}`, null, { params: { "category": category }, withCredentials: true })
        .then(() => this.$emit("move-book"))
        .catch(reason => console.log(reason))
        .finally(() => this.isLoading = false);
    },
    handleRemoval() {
      this.isLoading = true;
      axios.delete(`${process.env.VUE_APP_API_BASE_URL}/books/${this.book.gbid}`, { withCredentials: true })
        .then(() => this.$emit("remove-book", this.book))
        .catch(reason => console.log(reason))
        .finally(() => this.isLoading = false);
    }
  },
  computed: {
    formattedAuthors() {
      return this.book.authors ? this.book.authors.join(", ") : "Author not found";
    },
    imgUrl() {
      return this.book.thumbnailUrl;
    }
  }
}
</script>

<style scoped>
.book-list-item {
  background-color: #ffe4af;
  display: flex;
  padding: 1em;
  margin-bottom: .5em;
  border-radius: .3em;
}

img {
  width: 50px;
  margin-right: 1em;
}

.book-list-item-info {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}

h4 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

button {
  width: 2em;
  height: 2em;
  padding: 0;
}

.separator {
  width: 2px;
  background-color: #e59c22;
  margin: 0 .5em;
}

</style>