<template>
  <section class="book-explorer">
    <h2>🔎 Explorer</h2>
    <label for="book-search"></label>
    <input id="book-search"
           type="text"
           placeholder="Enter a book name..."
           @keyup="inputKeyUpHandler">
    <Loader style="vertical-align: middle" v-if="isLoading"></Loader>
    <section class="book-card-list">
      <BookCard v-for="(book, index) in books"
                :key="`${JSON.stringify(bookHash)}-${book.gbid}_${index}`"
                :book="book"
                :isInList="isInList(book)"
                v-on:open-dialog="data => $emit('open-dialog', data)"
                v-on:update-hash="bookToAdd => $emit('update-hash', bookToAdd)"/>
      <div class="blur-overlay" v-bind:class="{ 'is-shown': isLoading }"></div>
    </section>
  </section>
</template>

<script>
import BookCard from "./BookCard";
import axios from "axios";
import Loader from "@/components/Loader";
export default {
  name: "BookExplorer",
  components: {Loader, BookCard},
  props: ["bookHash"],
  data: () => ({
    books: [],
    lastTimeout: null,
    isLoading: false
  }),
  methods: {
    inputKeyUpHandler(event) {
      clearTimeout(this.lastTimeout);
      if (!event.target.value) {
        return;
      }
      this.lastTimeout = setTimeout(() => {
        this.isLoading = true;
        const GOOGLE_BOOKS_API_VOLUMES_URL = "https://www.googleapis.com/books/v1/volumes";
        axios
            .get(`${GOOGLE_BOOKS_API_VOLUMES_URL}?q=${event.target.value}&printType=books&maxResults=40`)
            .then(value => this.updateResult(value.data.items))
            .catch(reason => console.log(reason))
            .finally(() => this.isLoading = false);
      }, 500);
    },
    updateResult(items) {
      this.books = [];
      for (let item of items) {
        const book = item.volumeInfo;
        this.books.push({
          gbid: item.id,
          title: book.title,
          authors: book.authors,
          description: book.description,
          thumbnailUrl: book.imageLinks.smallThumbnail
        });
      }
    },
    isInList(book) {
      return this.bookHash != null && this.bookHash[book.gbid] === true;
    }
  }
}
</script>

<style scoped>
.book-explorer {
  overflow-y: auto;
  display: inline-block;
  flex: 1;
}

section {
  padding: 0 1em;
}

h2 {
  display: inline-block;
  margin-right: 1em;
}

#book-search {
  margin-right: 1em;
}

.book-card-list {
  position: relative;
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
}

.blur-overlay {
  visibility: hidden;
  position: absolute;
  filter: blur(10px);
  background-color: rgba(255, 255, 255, .7);
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.blur-overlay.is-shown {
  visibility: visible;
}
</style>
