<template>
  <div ref="modal"
       class="modal"
       v-bind:class="{ 'is-shown': isShown }"
       @click="handleClick">
    <section class="modal-content">
      <div class="header">
        <div class="heading"><h3>📕 {{ book.title }}</h3></div>
        <div class="close-btn" @click="closeDialog">❌</div>
      </div>
      <div class="authors">👤 {{ formattedAuthors }}</div>
      <div class="main">
        <section class="description-with-image">
          <img :src="book.thumbnailUrl" :alt="book.title">
          <h4>📜 Description</h4>
          <p v-bind:class="{ na: !this.book.description }">{{ description }}</p>
        </section>
        <h4>👥 About the author(s)</h4>
        <template v-if="authorsLoading">
          <Loader />
        </template>
        <template v-else>
          <span v-if="authors.length === 0" class="na">No author data found.</span>
          <div v-else class="authors-info">
            <div v-for="author in authors" :key="author.name" class="author-item">
              <div class="author-img-container">
                <img v-if="author.img" :src="author.img" :alt="author.img" class="author-img">
                <span v-else class="na">Image not found</span>
              </div>
              <section class="author-text-info">
                <h4>{{ author.name }}</h4>
                <p v-if="author.description">{{ author.description }}</p>
                <span v-if="author.dateOfBirth">Date of birth: {{ new Date(author.dateOfBirth).toLocaleDateString() }}</span><br>
                <span v-if="author.dateOfDeath">Date of death: {{ new Date(author.dateOfDeath).toLocaleDateString() }}</span>
              </section>
            </div>
          </div>
        </template>
      </div>
    </section>
  </div>
</template>

<script>
import axios from "axios";
import Loader from "@/components/Loader";
export default {
  name: "DetailDialog",
  components: {Loader},
  data: () => ({
    isShown: false,
    book: {
      id: "",
      title: "",
      authors: ["", ""],
      description: "",
      thumbnailUrl: ""
    },
    authors: [],
    authorsLoading: false
  }),
  methods: {
    closeDialog() {
      this.isShown = false;
    },
    updateDialog(data, fetch = false) {
      if (fetch) {
        // TODO: Fetch here the data if opened from My list
      } else {
        this.book = data;
      }
      this.isShown = true;
      if (this.book.authors) {
        this.updateAuthorInfo();
      } else {
        this.authors = [];
      }
    },
    handleClick(event) {
      if (event.target === this.$refs.modal) {
        this.closeDialog();
      }
    },
    handleKeyDown(event) {
      if (event.code === "Escape") {
        this.closeDialog();
      }
    },
    updateAuthorInfo() {
      const QUERY = `SELECT ?author ?authorLabel ?authorDescription ?dateOfBirth ?dateOfDeath ?img
                     WHERE
                     {
                       ${this.getAllAlternativeGraphs()}
                       SERVICE wikibase:label {
                         bd:serviceParam wikibase:language "en" .
                       }
                     }`;
      const SPARQL_ENDPOINT_URL = `https://query.wikidata.org/sparql?query=${QUERY}`;
      this.authorsLoading = true;
      axios.get(SPARQL_ENDPOINT_URL)
           .then(value => {
             for (const author of value.data.results.bindings) {
               this.authors.push({
                 name: author.authorLabel.value,
                 description: author.authorDescription.value,
                 dateOfBirth: author.dateOfBirth.value,
                 dateOfDeath: author.dateOfDeath ? author.dateOfDeath.value : null,
                 img: author.img ? author.img.value : null
               });
               if (this.authors.length === this.book.authors.length) {
                 break;
               }
             }
           })
           .catch(reason => console.log(reason))
           .finally(() => this.authorsLoading = false);
      this.authors = [];
    },
    getAllAlternativeGraphs() {
      let graphs = "";
      for (let i = 0; i < this.book.authors.length; i++) {
        if (i !== 0) {
          graphs += "UNION";
        }
        graphs += `{
                     SERVICE wikibase:mwapi {
                       bd:serviceParam wikibase:api "EntitySearch" ;
                                       wikibase:endpoint "www.wikidata.org" ;
                                       mwapi:search "${this.book.authors[i]}" ;
                                       mwapi:language "en" .
                       ?author wikibase:apiOutputItem mwapi:item .
                     }
                     ?author wdt:P31 wd:Q5 ;
                             wdt:P106 wd:Q36180 ;
                             wdt:P569 ?dateOfBirth .
                     OPTIONAL {
                       ?author wdt:P570 ?dateOfDeath .
                     }
                     OPTIONAL {
                       ?author wdt:P27 ?country .

                     }
                     OPTIONAL {
                       ?author wdt:P18 ?img .
                     }
                   }`;
      }
      return graphs;
    }
  },
  computed: {
    formattedAuthors() {
      return this.book.authors ? this.book.authors.join(", ") : "Author not found";
    },
    description() {
      return this.book.description ? this.book.description : "Description for this book is not available.";
    }
  },
  mounted() {
    window.addEventListener("keydown", this.handleKeyDown);
    this.updateAuthorInfo();
  }
}
</script>

<style scoped>
.modal {
  visibility: hidden;
  position: fixed;
  padding: 1em;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: .3s;
  opacity: 0;
}

.modal.is-shown {
  visibility: visible;
  background-color: rgba(0, 0, 0, .5);
  opacity: 1;
}

.modal-content {
  position: relative;
  padding: 2em;
  background-color: #f8f8f8;
  margin: auto auto;
  width: 50%;
  height: 75%;
  overflow-y: scroll;
  box-shadow: 0 0 1em black;
  border-radius: .3em;
}

.close-btn {
  float: right;
}

.close-btn:hover {
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.authors {
  margin-bottom: 1.5em;
}

.heading {
  flex-grow: 2;
}

.close-btn {
  padding: .5em;
  border-radius: .3em;
  transition: .3s;
}

.main {
  font-size: .9em;
}

.description-with-image {
  overflow: hidden;
}

.description-with-image img {
  margin: 1em 0 1em 1em;
  float: right;
}

.authors-info {
  display: flex;
  flex-direction: column;
}

.author-item {
  display: flex;
  margin-bottom: 1em;
}

.author-img-container {
  margin-right: 1em;
  width: 100px;
}

.author-img {
  width: 100%;
}

.author-text-info {
  display: inline-block;
}

.author-text-info h4 {
  margin-top: 0;
}

.author-text-info p {
  margin-bottom: .5em;
}

.close-btn:hover {
  background-color: #ffb3b3;
}

.na {
  color: #646464;
}

h3 {
  margin: 0;
}

h4 {
  margin-bottom: .5em;
}

p {
  margin: 0;
}

</style>
