<template>
  <div class="loader"></div>
</template>

<script>
export default {
name: "Loader"
}
</script>

<style scoped>
.loader {
  display: inline-block;
  width: 2em;
  height: 2em;
  border: 5px solid white;
  border-radius: 50%;
  border-left: 5px solid #3b9cff;
  animation: loader-spin .5s linear infinite;
}

@keyframes loader-spin {
  from {transform: rotate(0)}
  to {transform: rotate(360deg)}
}
</style>
