<template>
  <div id="user-form">
    <section v-if="isLogin" @keypress="e => { if (e.key === 'Enter') handleLogin() }">
      <h2>Login</h2>
      <label for="username-login"></label>
      <input id="username-login"
             type="text"
             placeholder="Username" />
      <label for="password-login"></label>
      <input id="password-login"
             type="password"
             placeholder="Password" /><br>
      <button class="green" @click="() => handleLogin()" v-bind:disabled="isLoading">Login</button>
      <Loader class="loader" v-if="isLoading" /><br>
      <span class="error"></span>
    </section>
    <section v-else @keypress="e => { if (e.key === 'Enter') handlerRegister() }">
      <h2>Registration</h2>
      <label for="username-register"></label>
      <input id="username-register"
             type="text"
             placeholder="Username" />
      <label for="password-register"></label>
      <input id="password-register"
             type="password"
             placeholder="Password" />
      <label for="password-again-register"></label>
      <input id="password-again-register"
             type="password"
             placeholder="Password again" /><br>
      <button class="green" @click="handlerRegister" v-bind:disabled="isLoading">Register</button>
      <Loader class="loader" v-if="isLoading" /><br>
      <div class="error"></div>
    </section>
    <hr>
    <button @click="handleSwitchButton" class="blue">{{ isLogin ? "Registration form" : "Login form" }}</button><br>
  </div>
</template>

<script>
import Loader from "@/components/Loader";
import axios from "axios";
export default {
  name: "UserForm",
  components: {Loader},
  data: () => ({
    isLogin: true,
    isLoading: false,
  }),
  methods: {
    handleSwitchButton() {
      this.isLogin = !this.isLogin;
    },
    handleLogin(afterRegister = false) {
      this.isLoading = true;
      axios.post(`${process.env.VUE_APP_API_BASE_URL}/login`, this.buildFormData(afterRegister), { withCredentials: true })
        .then(value => { localStorage.setItem("username", value.data.data.username); this.$emit("logged-in"); })
        .catch(reason => this.displayError(reason.response.data.message))
        .finally(() => this.isLoading = false)
    },
    handlerRegister() {
      if (document.querySelector("#password-register").value !==
          document.querySelector("#password-again-register").value) {
        this.displayError("Passwords do not match.")
        return;
      }
      this.isLoading = true;
      axios.post(`${process.env.VUE_APP_API_BASE_URL}/register`, this.buildFormData())
        .then(() => this.handleLogin(true))
        .catch(reason => this.displayError(reason.response.data.message))
        .finally(() => this.isLoading = false)
    },
    displayError(message) {
      document.querySelector(".error").innerText = message
    },
    buildFormData(isRegister = true) {
      const idPart = isRegister ? "register" : "login";
      let formData = new FormData();
      formData.append("username", document.querySelector(`#username-${idPart}`).value);
      formData.append("password", document.querySelector(`#password-${idPart}`).value);
      return formData;
    }
  }
}
</script>

<style scoped>
#user-form {
  text-align: center;
}

input, button {
  margin-bottom: 1em;
  white-space: nowrap;
}

.loader {
  vertical-align: middle;
  margin-left: 1em;
}

.error {
  width: 475px;
  color: red;
}
</style>