:root {
    --font: Inter, Helvetica, Arial, sans-serif;
}

html, body {
    font-family: var(--font);
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#app {
    height: 100%;
    display: flex;
    flex-direction: column;
}

input[type=text], input[type=password] {
    font-family: var(--font);
    font-size: 1em;
    padding: .7em;
    border-radius: .3em;
    border: 1px solid #e2e2e2;
    outline-color: #e2e2e2;
}

input[type=text]:focus {
    outline-color: #b8dbff;
}

button {
    font-family: var(--font);
    font-weight: bold;
    padding: 1em;
    height: 3.3em;
    border: none;
    border-radius: .3em;
    transition: .2s;
    outline: none;
}

button:disabled:hover {
    cursor: not-allowed;
}

button:hover {
    cursor: pointer;
}

.green {
    background-color: #b4e3b4;
}

.green:hover {
    background-color: #81d981;
}

.blue {
    background-color: #b8dbff;
}

.blue:hover {
    background-color: #8ec4ff;
}

.orange {
    background-color: #ffe4af;
}

.orange:hover {
    background-color: #ffd796;
}

.gray {
    background-color: #dddddd;
}

.gray:hover {
    cursor: default;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
