<template>
  <div id="app">
    <header class="main-header">
      <div class="heading-wrapper">
        <h1>📘 Book Manager</h1>
      </div>
      <div class="heading-wrapper" id="toggle-button" @click="toggleButtonClickHandler">
        <h2>📚 My list</h2>
      </div>
    </header>
    <main>
      <BookExplorer :bookHash="bookHash"
                    v-on:open-dialog="data => openDialog(data)"
                    v-on:update-hash="bookToAdd => updateHashAndBookList(bookToAdd)"/>
      <BookList ref="bookListRef"
                :is-open="listOpen"
                v-on:open-dialog="data => openDialog(data)"
                v-on:update-hash="hash => this.bookHash = hash"
                v-on:remove-book="bookData => $set(bookHash, bookData.gbid.toString(), false)"
                v-on:log-out="() => this.bookHash = null"/>
      <DetailDialog ref="detailDialog" />
    </main>
  </div>
</template>

<script>
import BookExplorer from "@/components/BookExplorer";
import BookList from "@/components/BookList";
import DetailDialog from "@/components/DetailDialog";

export default {
  name: 'App',
  components: {
    DetailDialog,
    BookList,
    BookExplorer,
  },
  data: () => ({
    listOpen: false,
    bookHash: {},
    bookListRef: null
  }),
  methods: {
    openDialog(data) {
      this.$refs.detailDialog.updateDialog(data);
    },
    toggleButtonClickHandler() {
      this.listOpen = !this.listOpen;
    },
    updateHashAndBookList(bookToAdd) {
      this.$set(this.bookHash, bookToAdd.gbid.toString(), true);
      this.$refs.bookListRef.addToList(bookToAdd);
    }
  }
}
</script>

<style scoped>
h1, h2 {
  display: inline-block;
  margin: 0;
}

h2 {
  line-height: 2em;
}

main {
  display: flex;
  align-items: stretch;
  overflow-y: auto;
  flex: 1;
}

header.main-header {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  background-color: #b8dbff;
  box-shadow: 0 3px 5px lightgray;
}

.heading-wrapper {
  user-select: none;
  padding: 1em;
}

#toggle-button {
  background-color: #ffe9c9;
  transition: .5s;
}

#toggle-button:hover {
  background-color: #ffd796;
  cursor: pointer;
}

</style>
